<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.lineageos.audiofx.tests">

    <application android:label="@string/app_name">
        <uses-library android:name="android.test.runner" />

        <activity android:name=".DebugActivity"
                    android:label="AudioFX Debug">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <instrumentation
            android:name="androidx.test.runner.AndroidJUnitRunner"
            android:targetPackage="org.lineageos.audiofx" />
</manifest>
